<p>Mi hijo es {{nombreLuke}} y mi hija es {{nombreLeia}}</p>
<hr>
<app-luke 
[nombre]="nombreLuke"
[handleChangeNombre]="cambiaNombreLuke()">
</app-luke>
<hr>
<app-leia 
[nombre]="nombreLeia" 
(nombreCambiado)="cambiaNombreLeia($event)">
</app-leia>
<hr>
<!-- <app-leia 
[nombre]="nombreLeia">
</app-leia> -->

<app-mi-boton textBtn="Cambia el nombre1" [handleClick]="cambiaNombreLuke2"> 
</app-mi-boton>

<!--<app-mi-boton textBtn="Cambia el nombre1" [handleClick]="cambiaNombreLuke2()"> 
</app-mi-boton> -->