<h2>Http (Http Client)</h2>

<button type="button" (click)="crearTarea()">Crear tarea</button>

<button type="button" (click)="completarTarea()">Completar/Descompletar tarea</button>

<button type="button" (click)="borrarTarea()">Borrar tarea</button>

<button type="button" (click)="getTarea()">Get tarea 1 con sus categorias</button>

<button type="button" (click)=" getTareasCat()">Get tareas por categorias</button>

<button type="button" (click)=" getTareas()">Get tareas con categorias</button>
